<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Event</title>
<<<<<<< HEAD
<<<<<<< HEAD
    <link rel="stylesheet" href="styles.css">
=======
>>>>>>> f94a7e15475e6972177ef8788b7e2ea7c356bb6b
=======
    <style>
        body {
          font-family: 'Arial', sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
          color: #333;
        }
        h1 {
          text-align: center;
          padding: 20px;
          background-color: #869986; /* Green color */
          color: white;
        }
        a {
          display: block;
          text-align: center;
          margin: 10px 0;
          text-decoration: none;
          color: #007BFF;
          font-weight: bold;
        }
        a:hover {
          text-decoration: underline;
        }
        form {
          max-width: 800px; /* Wider form */
          margin: 0 auto;
          padding: 20px;
          background-color: white;
          border-radius: 8px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        label {
          font-size: 14px;
          margin-bottom: 8px;
          display: block;
        }
        input, select {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box;
        }
        button {
          padding: 10px 20px;
          background-color: #007BFF;
          color: white;
          border: none;
          border-radius: 5px;
          width: 100%;
          font-size: 16px;
        }
        button:hover {
          background-color: #0056b3;
        }
      </style>
      
>>>>>>> de0ec45b6bb87e4a2372032a153cf417889578c1
</head>
<body>
    <h1>Edit Event</h1>
    <a href="/eventMaintenance">Back to User Maintenance</a>
    <form action="/editEvent/<%= myevent.event_id %>" method="POST">
        <label for="event_host_first_name">Host First Name:</label>
        <input type="text" id="event_host_first_name" name="event_host_first_name" value="<%= myevent.event_host_first_name %>" required>
        <br><br>
        <label for="event_host_last_name">Host Last Name:</label>
        <input type="text" id="event_host_last_name" name="event_host_last_name" value="<%= myevent.event_host_last_name %>" required>
        <br><br>
        <label for="event_host_email">Host Email:</label>
        <input type="email" id="event_host_email" name="event_host_email" value="<%= myevent.event_host_email %>" required>
        <br><br>
        <label for="event_host_area_code">Area Code:</label>
        <input type="text" id="event_host_area_code" name="event_host_area_code" value="<%= myevent.event_host_area_code %>" maxlength="3" required>
        <br><br>
        <label for="event_host_phone_number">Phone Number:</label>
        <input type="text" id="event_host_phone_number" name="event_host_phone_number" value="<%= myevent.event_host_phone_number %>" maxlength="7" required>
        <br><br>
        <label for="event_date_time">Event Date & Time:</label>
        <input type="datetime-local" id="event_date_time" name="event_date_time" value="<%= new Date(myevent.event_date_time).toISOString().slice(0, 16) %>" required>
        <br><br>
        <label for="event_type">Event Type:</label>
        <select id="event_type" name="event_type" required>
            <option value="Sewing" <%= myevent.event_type === 'Sewing' ? 'selected' : '' %>>Sewing</option>
            <option value="Non-Sewing" <%= myevent.event_type === 'Non-Sewing' ? 'selected' : '' %>>Non-Sewing</option>
            <option value="Both" <%= myevent.event_type === 'Both' ? 'selected' : '' %>>Both</option>
        </select>
        <br><br>
        <label for="event_address">Event Address:</label>
        <input type="text" id="event_address" name="event_address" value="<%= myevent.event_address %>" required>
        <br><br>
        <label for="event_city">Event City:</label>
        <input type="text" id="event_city" name="event_city" value="<%= myevent.event_city %>" required>
        <br><br>
        <label for="event_state">Event State:</label>
        <input type="text" id="event_state" name="event_state" value="<%= myevent.event_state %>" maxlength="2" required>
        <br><br>
        <label for="event_zip_code">Event Zip Code:</label>
        <input type="text" id="event_zip_code" name="event_zip_code" value="<%= myevent.event_zip_code %>" required>
        <br><br>
        <label for="duration_estimate">Duration Estimate (hrs):</label>
        <input type="number" id="duration_estimate" name="duration_estimate" value="<%= myevent.duration_estimate %>" required>
        <br><br>
        <label for="participants_estimate">Participants Estimate:</label>
        <input type="number" id="participants_estimate" name="participants_estimate" value="<%= myevent.participants_estimate %>" required>
        <br><br>
        <label for="jen_story">Jen's Story:</label>
        <select id="jen_story" name="jen_story" required>
            <option value="Yes" <%= myevent.jen_story === 'Yes' ? 'selected' : '' %>>Yes</option>
            <option value="No" <%= myevent.jen_story === 'No' ? 'selected' : '' %>>No</option>
        </select>
        <br><br>
        <label for="status">Status:</label>
          <select id="status" name="status">
              <option value="Pending" <%= myevent.status === 'Pending' ? 'selected' : '' %>>Pending</option>
              <option value="Approved" <%= myevent.status === 'Approved' ? 'selected' : '' %>>Approved</option>
              <option value="Declined" <%= myevent.status === 'Declined' ? 'selected' : '' %>>Declined</option>
              <option value="Completed" <%= myevent.status === 'Completed' ? 'selected' : '' %>>Completed</option>
          </select>
          <br><br>

        <label for="participants_actual">Participants Actual:</label>
        <input type="number" id="participants_actual" name="participants_actual" value="<%= myevent.participants_actual %>">
        <br><br>

        <label for="duration_actual">Duration Actual (hrs):</label>
        <input type="number" id="duration_actual" name="duration_actual" value="<%= myevent.duration_actual %>">
        <br><br>

        <label for="pockets_produced">Pockets Produced:</label>
        <input type="number" id="pockets_produced" name="pockets_produced" value="<%= myevent.pockets_produced %>">
        <br><br>

        <label for="collars_produced">Collars Produced:</label>
        <input type="number" id="collars_produced" name="collars_produced" value="<%= myevent.collars_produced %>">
        <br><br>

        <label for="envelopes_produced">Envelopes Produced:</label>
        <input type="number" id="envelopes_produced" name="envelopes_produced" value="<%= myevent.envelopes_produced %>">
        <br><br>

        <label for="vests_produced">Vests Produced:</label>
        <input type="number" id="vests_produced" name="vests_produced" value="<%= myevent.vests_produced %>">
        <br><br>

        <label for="completed_products">Completed Products:</label>
        <input type="number" id="completed_products" name="completed_products" value="<%= myevent.completed_products %>">
        <br><br>

        <label for="satisfaction_rating">Satisfaction Rating:</label>
        <input type="number" id="satisfaction_rating" name="satisfaction_rating" value="<%= myevent.satisfaction_rating %>" min="0" max="5">
        <br><br>

        <label for="feedback">Feedback:</label>
        <select id="feedback" name="feedback" class="form-control" required>
            <option value="Work Flow" <%= myevent.feedback === 'Work Flow' ? 'selected' : '' %>>Work Flow</option>
            <option value="Participation" <%= myevent.feedback === 'Participation' ? 'selected' : '' %>>Participation</option>
            <option value="Trainings" <%= myevent.feedback === 'Trainings' ? 'selected' : '' %>>Trainings</option>
            <option value="Material Amounts" <%= myevent.feedback === 'Material Amounts' ? 'selected' : '' %>>Material Amounts</option>
            <option value="Communication" <%= myevent.feedback === 'Communication' ? 'selected' : '' %>>Communication</option>
            <option value="Resource Transportation" <%= myevent.feedback === 'Resource Transportation' ? 'selected' : '' %>>Resource Transportation</option>
            <option value="Resource Amounts" <%= myevent.feedback === 'Resource Amounts' ? 'selected' : '' %>>Resource Amounts</option>
        </select>
        <br><br>
        

        <label for="comments">Comments:</label>
        <input type="text" id="comments" name="comments" value="<%= myevent.comments %>">
        <br><br>

        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
