<!-- Page for the main Admin to login and update/change records for all of the users of admin -->
<!DOCTYPE html>
 <html>
 <head>
   <title>Admin User Maintenance</title>
 </head>
 <body>
    <h1>Maintaining All Admininstrator Records</h1>
    <a href="/logout">Logout</a>
    <a href="/">Home</a>
   <!-- table for the pokemon records to be stored -->
   <table>
     <thead>
       <tr>
        <!-- table headers for all the columns -->
         <th>First Name</th>
         <th>Last Name</th>
         <th>Email</th>
         <th>Phone Number</th>
         <th>Address</th>
         <th>City</th>
         <th>State</th>
         <th>Referral Source</th>
         <th>Sewing Level</th>
         <th>Hours Willing to Work Per Month</th>
       </tr>
     </thead>
     <tbody>
      <!-- for each loop that itterates through each row to display all of the data -->
         <% volunteers.forEach(row => { %>
          <% if (volunteers.title == 'user') { %>
           <tr>
             <!-- all of the data from the volunteers table that can be edited on the site -->
             <td><%= row.first_name %></td>
             <td><%= row.last_name %></td>
             <td><%= row.email %></td>
             
             <td><%= row.area_code + '-' + row.phone %></td>
             <td><%= row.address + ' ' + row.zip_code %></td>
             <td><%= row.city %></td>
             <td><%= row.last_name %></td>
             <!-- includes date that the row was created -->
             <td><%= new Date(row.date_created).toLocaleDateString('en-US') %></td> <!-- Format date -->
             <td><%= row.active_poke ? 'Yes' : 'No' %></td>
             <td><%= row.gender %></td>
             <td><%= row.poke_type_description %></td>
             <td>
               <!-- <form action="/pokemon/<%= row.id %>" method="GET" style="display:inline;">
                 <button type="submit">View</button> -->
               <!-- </form> -->
               <!-- button for editing and deleting the pokemon by the user. Delete button includes a confirm function to ensure
                    the user wants to delete the record -->
               <form action="/editUser/<%= row.volunteer_id %>" method="GET" style="display:inline;">
                 <button type="submit">Edit</button>
               </form>
               <form action="/deleteUser/<%= row.volunteer_id %>" method="POST" style="display:inline;">
                 <button type="submit" onclick="return confirm('Are you sure you want to delete this record?');">Delete</button>
               </form>
             </td>
           </tr>
          <% } %>
         <% }) %>


     </tbody>
   </table>
   <!-- button for deleting a pokemon row -->
   <form action="/addPoke" method="GET" style="display: flex; justify-content: center; margin: 20px 0;">
     <button type="submit">Add</button>
   </form>
 </body>
 </html>